.stream {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    min-height: 100%;
}

.stream .image {
    height: 41px;
    margin-left: 42px;
    margin-top: 31px;
    object-fit: cover;
    width: 100px;
}

.stream .group-3 {
    height: 606px;
    margin-left: 210px;
    margin-top: 294px;
    position: relative;
    width: 629px;
}

.stream .group-4 {
    display: flex;
    flex-direction: column;
    gap: 48.4px;
    height: 219px;
    left: 0;
    position: absolute;
    top: 0;
    width: 396px;
}

.stream .group-5 {
    display: flex;
    flex-direction: column;
    gap: 4.6px;
    height: 121.38px;
    width: 400px;
    text-align: left;
}

.stream .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 50px;
    font-weight: 600;
    height: 68.45px;
    letter-spacing: 0;
    line-height: normal;
    width: 234px;
}

.stream .text-wrapper-3 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 35px;
    font-weight: 500;
    height: 48.37px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 0;
    width: 396px;
}

.stream .group-6 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    height: 49.28px;
    width: 312px;
    text-align: left;
}

.stream .p {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21.9px;
    letter-spacing: 0;
    line-height: normal;
    width: 308px;
}

.stream .you-can-register {
    color: transparent;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 21.9px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 0;
    width: 308px;
}

.stream .span {
    color: #000000;
}

.stream .text-wrapper-4 {
    color: #5bb5a2;
    font-weight: 600;
}

.stream .saly {
    height: 507px;
    left: 316px;
    position: absolute;
    top: 99px;
    width: 313px;
}

.stream .group-7 {
    display: flex;
    flex-direction: column;
    height: 543.12px;
    margin-left: 135px;
    margin-top: 174px;
    width: 374px;
}

.stream .text-wrapper-5 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 30px;
    font-weight: 500;
    height: 45px;
    letter-spacing: 0;
    line-height: normal;
    width: 99px;
}

.stream .group-15 {
    margin-top: 28px !important;
    position: unset !important;
    top: unset !important;
}

.stream .group-instance {
    background-color: #5bb5a226 !important;
}

.stream .group-15-instance {
    color: #5bb5a2 !important;
    width: 22.64% !important;
}

.stream .group-8 {
    display: flex;
    flex-direction: column;
    gap: 17px;
    height: 99px;
    margin-top: 38px;
    width: 372px;
}

.stream .group-9 {
    height: 62px;
    position: relative;
    width: 369px;
}

.stream .group-10 {
    height: 62px;
    left: 0;
    position: absolute;
    top: 0;
    width: 371px;
}

.stream .rectangle-3 {
    background-color: #5bb5a226;
    border-radius: 8px;
    height: 62px;
    left: 0;
    position: absolute;
    top: 0;
    width: 369px;
}

.stream .text-wrapper-6 {
    color: #5bb5a2;
    font-family: "Poppins", Helvetica;
    font-size: 15px;
    font-weight: 400;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 82px;
    border: none; 
    outline: none; 
    background: transparent;
    color: #5bb5a2;
}

.stream .invisible {
    height: 17px;
    left: 320px;
    position: absolute;
    top: 23px;
    width: 23px;
}

.stream .text-wrapper-7 {
    color: #b0b0b0;
    font-family: "Poppins", Helvetica;
    font-size: 13px;
    font-weight: 400;
    height: 20px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 250px;
    width: 120px;
}

.stream .group-14 {
    margin-top: 46px !important;
    position: unset !important;
    top: unset !important;
}

.stream .group-14-instance {
    background-color: #5bb5a2 !important;
}

.stream .text-wrapper-8 {
    color: #b4b4b4;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    height: 24px;
    letter-spacing: 0;
    line-height: normal;
    margin-left: 120px;
    margin-top: 54px;
    width: 130px;
}

.stream .group-11 {
    display: flex;
    margin-left: 102px;
    margin-top: 45px;
    width: 165px;
}

.stream .group-12 {
    display: flex;
    height: 43.12px;
    position: relative;
    width: 165px;
}

.stream .facebook-instance {
    top: 2px !important;
}

.stream .apple-instance {
    height: 96.15% !important;
    left: 37.69% !important;
    width: 25.13% !important;
}

.stream .google-instance {
    left: 124px !important;
}